#year-list {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.project-year {
	margin-top: 45px;
	cursor: pointer;
}

.project-year h2 {
	display: inline;
	font-size: 50px;
	color: #2c3e50;
	font-weight: 600;
}

.project-year i {
	position: relative;
	color: #2c3e50;
  -webkit-transition: -webkit-transform ease 400ms;
  transition: -webkit-transform ease 400ms;
  transition: transform ease 400ms;
  transition: transform ease 400ms, -webkit-transform ease 400ms;
}

.i-close {
	ms-transform: rotate(-135deg); /* IE 9 */
  -webkit-transform: rotate(-135deg); /* Chrome, Safari, Opera */
  transform: rotate(-135deg);
}

.project-year i:hover, .project-year h2:hover {
	color: #34495e;
}

.projects {
	display: none;
}


